.contenedor{
    display: flex;
    margin: auto;
    padding: 20px;
    width: 800px;
    height: 450px;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
}
.titulo{
    display: flex;
    flex-direction: column;
    background-color:rgb(104, 194, 243);
    text-align: justify;
    height: 1000px;
    border-radius: 5px;
    padding: 20px;
}
h2{
    margin: auto;
    font-weight: bolder;
    color: aliceblue;
}
p{
    font-weight: 600;
}