<div class="contenedor">
    <div class="titulo">
        <h2>El origen de TypeScript</h2>
        <p>TypeScript fue publicado en octubre de 2012, después de dos años de desarrollo por parte de Microsoft.
            Poco después de su publicación, Miguel de Icaza elogió el lenguaje en sí mismo, pero criticó la falta 
            de un IDE maduro para todas las plataformas, en ese momento Microsoft Visual Studio solo estaba disponible 
            para Windows. En la actualidad existen múltiples editores, como Sublime Text, Vim, Emacs, Webstorm y el 
            propio Visual Studio Code. TypeScript es un lenguaje de programación libre y de código abierto 
            desarrollado y mantenido por Microsoft. Es un superconjunto de JavaScript, que esencialmente añade tipos 
            estáticos y objetos basados en clases. TypeScript extiende la sintaxis de JavaScript, por tanto cualquier 
            código JavaScript existente debería funcionar sin problemas. Está pensado para grandes proyectos, los 
            cuales a través de un compilador de TypeScript se traducen a código JavaScript original.</p>
    </div>
</div>
