<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand me-2" href="">
            <img
              src="assets/images/techground.png"
              height="86"
              width="80"
            />
          </a>
          <a><img src="assets/images/x.png"
              height="20"
              width="20"
              />
          </a>
      <a class="navbar-brand" href="#">
        <img src="assets/images/typescript.svg"
        height="50"
        width="80"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Principal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/intro">Introduccion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/utilidad">Utilidad</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/sugerencias">Sugerencias</a>
          </li>
        </ul>
        <span class="navbar-text">
          San José, Costa Rica
        </span>
      </div>
    </div>
  </nav>

  <div class=" p-5 text-center" style="background-image: url(assets/images/typescript-bg.jpeg);">
    <img src="assets/images/typescript-title.png" width="400" height="100">
    <h4 class="mb-3" style="color: aliceblue;">Lleva tu pagina a otro nivel asegurando el código de JavaScript</h4>
    <a class="btn btn-primary" href="" role="button">Creador de la pagina</a>
  </div>
