<div class="contenedor">
    <div class="contenido"><img src="assets/images/leonardo.jpeg" alt=""></div>
    <div class="contenido1">
        <h3>Leonardo Correa Flores</h3>
        <p>Participación en iniciativas público-privadas para el beneficio en la educación de poblaciones consideradas de riesgo, así como en la modernización del estado desde el apoyo a Municipalidades del país en desarrollos de comunicación, transparencia y geolocalización.</p>
    </div>
    <div class="contenido"><img src="assets/images/anders.jpeg" alt=""></div>
    <div class="contenido1">
        <h3>Anders Hejlsberg</h3>
        <p>Es un destacado ingeniero de software danés que co-diseñó varios lenguajes de programación e instrumentos de desarrollo populares. Actualmente trabaja para Microsoft, donde es el arquitecto jefe del lenguaje de programación TypeScript.</p>
    </div>
</div>
