.contenedor{
    display: flex;
    width: 1366px;
    height: 400px;
    background-color: rgb(104, 194, 243);
    justify-content: space-around;
    align-items: center;
}

.cuadro{
    display: flex;
    color: aliceblue;
    background-color: rgb(42, 126, 165 , 0.3);
    font-size:22px;
    text-align:center;
    padding: 15px;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px;
}