<div class="contenedor">
    <div class="cuadro"><p>El tipado se refiere a cómo se adaptan los tipos de variables, en su lugar Typescript añade un tipado estático, a diferencia del tipado dinámico de JavaScript, para intentar solucionar una serie de problemas. </p></div>
    <div class="cuadro">Este lenguaje permite encontrar errores mientras el código va corriendo, esto quiere decir que no es necesario ejecutar el código para darse cuenta del error. Es muy importante el tipado para que estos problemas no sucedan seguidamente.</div>
    <div class="cuadro">Permite utilizar las interfaces que son un tipo de construcción del lenguaje orientado a objetos. El programa incluye controles gráficos que optimizan la experiencia de usuario usando un mouse o teclado. </div>
</div>
